html,body{
    margin: 0px;
    padding: 0px;
    background-color:rgb(212, 233, 119);
    
}

#head{
  height:70px;
  padding: 0%;
  margin: 0%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: forestgreen;
    background-color:greenyellow;
    text-align: center;


}
#groc-table{
  margin: 0%;
  padding: 0%;
    text-align: center; 
    width: 100%;

    border-spacing: 2px;
    background-color: tomato;
    border-color: whitesmoke;
}

.form-control{
  background-attachment: yellow;
}

.form-group{
  margin:0px;
  padding: 0px;
  text-align: center;
  font-family: fantasy;
  font-size: large;
  background-color:greenyellow ;
}

#sel1{
 margin: 0em;
 padding: 0em;
  background-color:rgb(221, 255, 71);
 margin-left: 30%;
  width: 40%;
  color: black;
  
}
/* btn{
  width: 50px;
  align-items: center;
  color: yellowgreen;
  background-color: yellowgreen;

} */